body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(135deg, #667dc0 10%, #3d7e96 100%);
}

h1 {
    color: #e3e4e4;
    margin-left: 750px;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para la lista de clientes */
#clientes-lista {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.cliente-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    justify-items: center;
}

.cliente-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.cliente-item p {
    margin: 5px 0;
}

.cliente-item p strong {
    color: #007BFF;
}
/* Estilos para la lista de ciudades */
#ciudades-lista {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.ciudad-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    justify-items: center;
}

.ciudad-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ciudad-item p {
    margin: 5px 0;
}

.ciudad-item p strong {
    color: #007BFF;
}